:root{
    --orangeDark: #f45c35;
    --searchAndAbility: #fca494;
    --bg:#ffd4be;
    --searchBTN: #f25d3a;
    --myTeamText: #ffcabb;
    --pokeText: #fec2b2;
    --abilityText: #ffcfba;
    --headerBG: #fa947a;
    }

    /* fonts
    font-family: 'Orbitron', sans-serif;
font-family: 'ZCOOL KuaiLe', cursive;
    */


header h1 {
    color: var(--orangeDark);
    background-color: var(--headerBG);
    height: inherit;
    width: 100%;
    align-items: center;
    font-size:60px;
    padding-left: 35%;
    text-shadow: 0 0 3px #ffd4be, 0 0 5px #ffd4be;


}


body{
    display: flex;
    background-color: var(--bg);
    flex-direction: row;
    flex-wrap: wrap;
      justify-content: center;
      font-family: 'Orbitron', sans-serif;

  }

  header{
    display: block;
    background-color: var(--headerBG);
    width: 100%;
    height: 20%;
    flex-wrap: wrap;
    justify-content: center;
     flex-direction: row;
    font-family: 'ZCOOL KuaiLe', cursive;
    align-items: center;

  }

  main{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;



  }

.left-side{
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;
  width: 400px;
  height: 700px;
  margin-right: 40px;
  /* align-items: center; */


}

#search-bar{
  color: var(--searchAndAbility);
  border-radius: 5px;
  border-color: #fca494;
  margin-bottom: 5px;
  background-color: var(--bg);
  font-size: 20px;
}

#search{
    background-color: var(--bg);
    border-color: var(--searchBTN);
    font-size: 20px;
    color: var(--searchBTN);
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    border-radius: 5px;
    font-size: 25px;

}

#search:hover{
  color: #941E00;
  cursor: pointer;
}

.my-team{
background-color: var(--orangeDark);
    color: var(--myTeamText);
    border-color: var(--orangeDark);
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;


}
.my-team h1{
  background-color: var(--orangeDark);
  color: var(--myTeamText);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  font-size: 40px;

}
.pokemon{
    background-color: var(--orangeDark);
    border-width: 5px;
    border-color: var(--bg);
    border-style: solid;
    font-size: 30px;

}

#p1{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#p6{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.remove{
  display: flex;
  justify-content: flex-end;
}

.remove:hover{
  color: #941E00;
  cursor: pointer;
}

.right-side{
    background-color: var(--orangeDark);
    color: var(--pokeText);
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
    width: 600px;
    height: 700px;
    justify-content: space-between;

}

#pokemon-name{
display: flex;
justify-content: center;
align-items: center;
padding-left: 50px;

}

#addBTN{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--pokeText);
  padding: 5px;
  margin-left: 50px;

}

#addBTN:hover{
  color: #941E00;
  cursor: pointer;
  border-color: #941E00;
}


image{

}

#type{

}

.ability{
  background-color: var(--searchAndAbility);
  color: #F2EAE7;
  margin: 5px;
  font-size: 25px;
  line-height: 60px;

}
